body{
    background-color: #efebeb;
}
.par, .ipar{
    background-color: #ccccff;
}
.impar{
    background-color: #e6d7f1;
}
.txt2{
    background: black;
    color: antiquewhite;
    border-left-width: 10px #000;
    border-radius: 20%;
}
body, input{
        background-color: #e6d7f1;
}
.head-edu{
    background-color: #9146e2;
}
@media screen and (max-width: 480px){
    .container{
        height: auto;
    }
    .container1{
        width: auto;
    }
    .container6{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}

