body{
    background-color: black;
}
.spiner{
    width: 320px;
    height: 320px;
    border: 32px solid steelblue;
    border-radius: 500px;
    border-top-color: lightcoral;
    margin: 16px;
    animation:spin 1s infinite ;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}